export(deepgmm)
export(model_selection)
S3method(print, dgmm)
S3method(summary, dgmm)
importFrom("stats", "factanal", "filter", "kmeans", "princomp",
             "runif", "hclust", "cutree", "dist")
importFrom("mvtnorm", "dmvnorm", "rmvnorm")
importFrom("corpcor", "make.positive.definite", "is.positive.definite")
importFrom("stats", "cov", "var")
importFrom("mclust", "Mclust")
